/* Navbar */
.navbar{
    background: #1E293B !important;
    padding: 12px 0;
}

/* Logo */
.navbar-brand{
    color:#38BDF8 !important;
    font-size:28px;
    font-weight:bold;
}

/* Nav Links */
.nav-link{
    color:white !important;
    font-size:17px;
    margin:0 8px;
    transition:0.3s;
}

/* Hover Effect */
.nav-link:hover{
    color:#FACC15 !important;
}

/* Active Link */
.nav-link.active{
    color:#38BDF8 !important;
}

/* Dropdown */
.dropdown-menu{
    border:none;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.dropdown-item:hover{
    background:#38BDF8;
    color:white;
}

/* Search Box */
.form-control{
    border-radius:30px;
    border:none;
    padding:10px 18px;
}

/* Search Button */
.btn-search{
    background:#0EA5E9;
    color:white;
    border:none;
    border-radius:30px;
    padding:10px 22px;
    transition:.3s;
}

.btn-search:hover{
    background:#0284C7;
    color:white;
}

/* Mobile Toggle Button */
.navbar-toggler{
    border:2px solid white;
}